In [8]:
import pandas as pd

In [9]:
data = pd.read_csv('train.csv')
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [10]:
data.shape

(1460, 81)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [12]:
import numpy as np

class MyLabelEncoder:
    def __init__(self):
        self.label_dict = {}

    def fit(self, data):
        """
        This method creates a mapping of unique categories to numeric labels,
        while skipping NaN values.
        """
        unique_labels = set(data) - {np.nan}  # Exclude NaN values
        self.label_dict = {label: idx for idx, label in enumerate(unique_labels)}
        print(f"Label encoding dictionary (excluding NaN): {self.label_dict}")

    def transform(self, data):
        """
        This method converts the categorical data into numeric labels,
        skipping NaN values (NaN remains as NaN).
        """
        return [self.label_dict.get(label, np.nan) for label in data]

    def fit_transform(self, data):
        """
        This method combines fit and transform into one method.
        """
        self.fit(data)
        return self.transform(data)

In [13]:
encoder= MyLabelEncoder()
for col in data.select_dtypes(include=['object']).columns:
    data[col] = encoder.fit_transform(data[col])

Label encoding dictionary (excluding NaN): {'C (all)': 0, 'RH': 1, 'RM': 2, 'RL': 3, 'FV': 4}
Label encoding dictionary (excluding NaN): {'Grvl': 0, 'Pave': 1}
Label encoding dictionary (excluding NaN): {'Grvl': 0, 'Pave': 1}
Label encoding dictionary (excluding NaN): {'IR1': 0, 'Reg': 1, 'IR2': 2, 'IR3': 3}
Label encoding dictionary (excluding NaN): {'Low': 0, 'Bnk': 1, 'HLS': 2, 'Lvl': 3}
Label encoding dictionary (excluding NaN): {'NoSeWa': 0, 'AllPub': 1}
Label encoding dictionary (excluding NaN): {'FR2': 0, 'FR3': 1, 'CulDSac': 2, 'Corner': 3, 'Inside': 4}
Label encoding dictionary (excluding NaN): {'Gtl': 0, 'Sev': 1, 'Mod': 2}
Label encoding dictionary (excluding NaN): {'NoRidge': 0, 'NAmes': 1, 'NWAmes': 2, 'Blmngtn': 3, 'SawyerW': 4, 'MeadowV': 5, 'NPkVill': 6, 'BrkSide': 7, 'SWISU': 8, 'IDOTRR': 9, 'Blueste': 10, 'OldTown': 11, 'Veenker': 12, 'Somerst': 13, 'Timber': 14, 'NridgHt': 15, 'StoneBr': 16, 'Sawyer': 17, 'CollgCr': 18, 'Mitchel': 19, 'Gilbert': 20, 'Crawfor': 21, 'Edwards': 22, 'ClearCr': 23, 'BrDale': 24}
Label encoding dictionary (excluding NaN): {'RRNe': 0, 'PosA': 1, 'Artery': 2, 'RRAe': 3, 'PosN': 4, 'Feedr': 5, 'RRAn': 6, 'Norm': 7, 'RRNn': 8}
Label encoding dictionary (excluding NaN): {'PosA': 0, 'Artery': 1, 'RRAe': 2, 'PosN': 3, 'Feedr': 4, 'RRAn': 5, 'Norm': 6, 'RRNn': 7}
Label encoding dictionary (excluding NaN): {'Duplex': 0, '2fmCon': 1, '1Fam': 2, 'TwnhsE': 3, 'Twnhs': 4}
Label encoding dictionary (excluding NaN): {'SFoyer': 0, '1.5Fin': 1, '1.5Unf': 2, '2.5Fin': 3, '2.5Unf': 4, '1Story': 5, 'SLvl': 6, '2Story': 7}
Label encoding dictionary (excluding NaN): {'Gable': 0, 'Flat': 1, 'Gambrel': 2, 'Hip': 3, 'Mansard': 4, 'Shed': 5}
Label encoding dictionary (excluding NaN): {'WdShngl': 0, 'Membran': 1, 'ClyTile': 2, 'WdShake': 3, 'Tar&Grv': 4, 'Metal': 5, 'CompShg': 6, 'Roll': 7}
Label encoding dictionary (excluding NaN): {'ImStucc': 0, 'AsphShn': 1, 'AsbShng': 2, 'BrkComm': 3, 'CBlock': 4, 'WdShing': 5, 'CemntBd': 6, 'Plywood': 7, 'Wd Sdng': 8, 'BrkFace': 9, 'MetalSd': 10, 'Stone': 11, 'VinylSd': 12, 'Stucco': 13, 'HdBoard': 14}
Label encoding dictionary (excluding NaN): {'Brk Cmn': 0, 'AsphShn': 1, 'AsbShng': 2, 'CBlock': 3, 'Plywood': 4, 'Wd Sdng': 5, 'Wd Shng': 6, 'Stone': 7, 'ImStucc': 8, 'Other': 9, 'CmentBd': 10, 'BrkFace': 11, 'MetalSd': 12, 'VinylSd': 13, 'Stucco': 14, 'HdBoard': 15}
Label encoding dictionary (excluding NaN): {'Stone': 0, 'BrkFace': 1, 'BrkCmn': 2}
Label encoding dictionary (excluding NaN): {'Fa': 0, 'Ex': 1, 'Gd': 2, 'TA': 3}
Label encoding dictionary (excluding NaN): {'Fa': 0, 'Po': 1, 'Ex': 2, 'Gd': 3, 'TA': 4}
Label encoding dictionary (excluding NaN): {'Wood': 0, 'CBlock': 1, 'PConc': 2, 'BrkTil': 3, 'Stone': 4, 'Slab': 5}
Label encoding dictionary (excluding NaN): {'Fa': 0, 'Ex': 1, 'Gd': 2, 'TA': 3}
Label encoding dictionary (excluding NaN): {'Fa': 0, 'Po': 1, 'Gd': 2, 'TA': 3}
Label encoding dictionary (excluding NaN): {'Av': 0, 'Gd': 1, 'No': 2, 'Mn': 3}
Label encoding dictionary (excluding NaN): {'GLQ': 0, 'Rec': 1, 'Unf': 2, 'LwQ': 3, 'ALQ': 4, 'BLQ': 5}
Label encoding dictionary (excluding NaN): {'GLQ': 0, 'Rec': 1, 'Unf': 2, 'LwQ': 3, 'ALQ': 4, 'BLQ': 5}
Label encoding dictionary (excluding NaN): {'OthW': 0, 'GasW': 1, 'Floor': 2, 'Wall': 3, 'Grav': 4, 'GasA': 5}
Label encoding dictionary (excluding NaN): {'Fa': 0, 'Po': 1, 'Ex': 2, 'Gd': 3, 'TA': 4}
Label encoding dictionary (excluding NaN): {'N': 0, 'Y': 1}
Label encoding dictionary (excluding NaN): {'SBrkr': 0, 'FuseP': 1, 'Mix': 2, 'FuseA': 3, 'FuseF': 4}
Label encoding dictionary (excluding NaN): {'Fa': 0, 'Ex': 1, 'Gd': 2, 'TA': 3}
Label encoding dictionary (excluding NaN): {'Typ': 0, 'Min1': 1, 'Min2': 2, 'Mod': 3, 'Maj2': 4, 'Sev': 5, 'Maj1': 6}
Label encoding dictionary (excluding NaN): {'Fa': 0, 'Po': 1, 'Ex': 2, 'Gd': 3, 'TA': 4}
Label encoding dictionary (excluding NaN): {'Detchd': 0, 'BuiltIn': 1, '2Types': 2, 'Basment': 3, 'CarPort': 4, 'Attchd': 5}
Label encoding dictionary (excluding NaN): {'Unf': 0, 'RFn': 1, 'Fin': 2}
Label encoding dictionary (excluding NaN): {'Fa': 0, 'Po': 1, 'Ex': 2, 'Gd': 3, 'TA': 4}
Label encoding dictionary (excluding NaN): {'Fa': 0, 'Po': 1, 'Ex': 2, 'Gd': 3, 'TA': 4}
Label encoding dictionary (excluding NaN): {'N': 0, 'Y': 1, 'P': 2}
Label encoding dictionary (excluding NaN): {'Fa': 0, 'Ex': 1, 'Gd': 2}
Label encoding dictionary (excluding NaN): {'MnPrv': 0, 'GdPrv': 1, 'MnWw': 2, 'GdWo': 3}
Label encoding dictionary (excluding NaN): {'Shed': 0, 'TenC': 1, 'Gar2': 2, 'Othr': 3}
Label encoding dictionary (excluding NaN): {'ConLD': 0, 'Oth': 1, 'WD': 2, 'ConLw': 3, 'CWD': 4, 'ConLI': 5, 'New': 6, 'COD': 7, 'Con': 8}
Label encoding dictionary (excluding NaN): {'Alloca': 0, 'AdjLand': 1, 'Normal': 2, 'Abnorml': 3, 'Family': 4, 'Partial': 5}

In [14]:
X = data.drop(columns=['Id', 'SalePrice']).fillna(25).values
y = data['SalePrice'].values

In [20]:
from sklearn.model_selection import train_test_split
import tensorflow as tf

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(128, activation='relu', input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(1)
    ])

model.compile(optimizer='adam', loss='mse', metrics=['mae']) # Mean Squared Error and Mean Absolute Error
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_split=0.1) # Adjust epochs and batch_size

loss, mae = model.evaluate(X_test, y_test, verbose=0)
print(f"Mean Absolute Error on test data: {mae}")

Epoch 1/10
33/33 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 36091580416.0000 - mae: 175314.3906 - val_loss: 33750439936.0000 - val_mae: 168768.1719
Epoch 2/10
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 29344497664.0000 - mae: 153650.1406 - val_loss: 16347784192.0000 - val_mae: 111038.8984
Epoch 3/10
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 11475666944.0000 - mae: 81596.4609 - val_loss: 5376006656.0000 - val_mae: 50145.6094
Epoch 4/10
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 6651811840.0000 - mae: 48401.5781 - val_loss: 4243987200.0000 - val_mae: 43986.5625
Epoch 5/10
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 5445286912.0000 - mae: 45318.1992 - val_loss: 3739664896.0000 - val_mae: 41706.1680
Epoch 6/10
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 4624632320.0000 - mae: 40844.1133 - val_loss: 3255814912.0000 - val_mae: 39581.5117
Epoch 7/10
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 4850176512.0000 - mae: 44789.6562 - val_loss: 3058544896.0000 - val_mae: 38490.6875
Epoch 8/10
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 4681278976.0000 - mae: 42971.3984 - val_loss: 2924550912.0000 - val_mae: 37813.7422
Epoch 9/10
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 3501002752.0000 - mae: 40096.0352 - val_loss: 2787442432.0000 - val_mae: 37318.3320
Epoch 10/10
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 2810917376.0000 - mae: 37748.9258 - val_loss: 2759922176.0000 - val_mae: 36448.3633
Mean Absolute Error on test data: 41590.92578125

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mae = mean_absolute_error(y_test, y_pred)
print(f"Mean Absolute Error on test data: {mae}")

Mean Absolute Error on test data: 21127.101271655796

In [23]:
data = data.fillna(25)
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,65.0,8450,1,25.0,1,3,1,...,0,25.0,25.0,25.0,0,2,2008,2,2,208500
1,2,20,3,80.0,9600,1,25.0,1,3,1,...,0,25.0,25.0,25.0,0,5,2007,2,2,181500
2,3,60,3,68.0,11250,1,25.0,0,3,1,...,0,25.0,25.0,25.0,0,9,2008,2,2,223500
3,4,70,3,60.0,9550,1,25.0,0,3,1,...,0,25.0,25.0,25.0,0,2,2006,2,3,140000
4,5,60,3,84.0,14260,1,25.0,0,3,1,...,0,25.0,25.0,25.0,0,12,2008,2,2,250000

In [24]:
for dt in data.columns:
  print(f'maximum: {data[dt].max()}')
  print(f'minimum: {data[dt].min()}')
  print(f'mean: {data[dt].mean()}')

maximum: 1460
minimum: 1
mean: 730.5
maximum: 190
minimum: 20
mean: 56.897260273972606
maximum: 4
minimum: 0
mean: 2.8527397260273974
maximum: 313.0
minimum: 21.0
mean: 62.05821917808219
maximum: 215245
minimum: 1300
mean: 10516.828082191782
maximum: 1
minimum: 0
mean: 0.9958904109589041
maximum: 25.0
minimum: 0.0
mean: 23.46986301369863
maximum: 3
minimum: 0
mean: 0.7102739726027397
maximum: 3
minimum: 0
mean: 2.8054794520547945
maximum: 1
minimum: 0
mean: 0.9993150684931507
maximum: 4
minimum: 0
mean: 3.554109589041096
maximum: 2
minimum: 0
mean: 0.09794520547945205
maximum: 24
minimum: 0
mean: 11.715068493150685
maximum: 8
minimum: 0
mean: 6.598630136986301
maximum: 7
minimum: 0
mean: 5.9746575342465755
maximum: 4
minimum: 0
mean: 2.0445205479452055
maximum: 7
minimum: 0
mean: 5.058219178082192
maximum: 10
minimum: 1
mean: 6.0993150684931505
maximum: 9
minimum: 1
mean: 5.575342465753424
maximum: 2010
minimum: 1872
mean: 1971.267808219178
maximum: 2010
minimum: 1950
mean: 1984.8657534246574
maximum: 5
minimum: 0
mean: 0.6376712328767123
maximum: 7
minimum: 0
mean: 5.943835616438356
maximum: 14
minimum: 0
mean: 10.435616438356165
maximum: 15
minimum: 0
mean: 10.558219178082192
maximum: 25.0
minimum: 0.0
mean: 15.256849315068493
maximum: 1600.0
minimum: 0.0
mean: 103.2541095890411
maximum: 3
minimum: 0
mean: 2.5657534246575344
maximum: 4
minimum: 0
mean: 3.8171232876712327
maximum: 5
minimum: 0
mean: 1.7191780821917808
maximum: 25.0
minimum: 0.0
mean: 2.8965753424657534
maximum: 25.0
minimum: 0.0
mean: 3.4178082191780823
maximum: 25.0
minimum: 0.0
mean: 2.282191780821918
maximum: 25.0
minimum: 0.0
mean: 2.5753424657534247
maximum: 5644
minimum: 0
mean: 443.6397260273973
maximum: 25.0
minimum: 0.0
mean: 2.6678082191780823
maximum: 1474
minimum: 0
mean: 46.54931506849315
maximum: 2336
minimum: 0
mean: 567.2404109589041
maximum: 6110
minimum: 0
mean: 1057.4294520547944
maximum: 5
minimum: 0
mean: 4.931506849315069
maximum: 4
minimum: 0
mean: 2.6835616438356165
maximum: 1
minimum: 0
mean: 0.934931506849315
maximum: 25.0
minimum: 0.0
mean: 0.2876712328767123
maximum: 4692
minimum: 334
mean: 1162.626712328767
maximum: 2065
minimum: 0
mean: 346.99246575342465
maximum: 572
minimum: 0
mean: 5.844520547945206
maximum: 5642
minimum: 334
mean: 1515.463698630137
maximum: 3
minimum: 0
mean: 0.42534246575342466
maximum: 2
minimum: 0
mean: 0.057534246575342465
maximum: 3
minimum: 0
mean: 1.5650684931506849
maximum: 2
minimum: 0
mean: 0.38287671232876713
maximum: 8
minimum: 0
mean: 2.8664383561643834
maximum: 3
minimum: 0
mean: 1.0465753424657533
maximum: 3
minimum: 0
mean: 2.3815068493150684
maximum: 14
minimum: 2
mean: 6.517808219178082
maximum: 6
minimum: 0
mean: 0.17328767123287672
maximum: 3
minimum: 0
mean: 0.613013698630137
maximum: 25.0
minimum: 0.0
mean: 13.5
maximum: 25.0
minimum: 0.0
mean: 4.498630136986302
maximum: 2010.0
minimum: 25.0
mean: 1870.126712328767
maximum: 25.0
minimum: 0.0
mean: 2.158219178082192
maximum: 4
minimum: 0
mean: 1.7671232876712328
maximum: 1418
minimum: 0
mean: 472.9801369863014
maximum: 25.0
minimum: 0.0
mean: 5.013698630136986
maximum: 25.0
minimum: 0.0
mean: 5.045890410958904
maximum: 2
minimum: 0
mean: 0.958904109589041
maximum: 857
minimum: 0
mean: 94.2445205479452
maximum: 547
minimum: 0
mean: 46.66027397260274
maximum: 552
minimum: 0
mean: 21.954109589041096
maximum: 508
minimum: 0
mean: 3.4095890410958902
maximum: 480
minimum: 0
mean: 15.060958904109588
maximum: 738
minimum: 0
mean: 2.758904109589041
maximum: 25.0
minimum: 0.0
mean: 24.885616438356163
maximum: 25.0
minimum: 0.0
mean: 20.354794520547944
maximum: 25.0
minimum: 0.0
mean: 24.082876712328765
maximum: 15500
minimum: 0
mean: 43.489041095890414
maximum: 12
minimum: 1
mean: 6.321917808219178
maximum: 2010
minimum: 2006
mean: 2007.8157534246575
maximum: 8
minimum: 0
mean: 2.4945205479452053
maximum: 5
minimum: 0
mean: 2.334246575342466
maximum: 755000
minimum: 34900
mean: 180921.19589041095